body{
  font-family: 'Baloo Tamma', cursive;
  /* transition: 4s; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;

  background-image: url('../images/background.png');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  overflow: hidden;
  animation: moveBackground 10s linear infinite; 
}

/* @media only screen and (max-width: 1500px) {
  body {
    background-size: auto;
  }
} */

#root .ant-layout, #root header {
  background: transparent;
}

@keyframes moveBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}

:root {
  --color: #ffffff;
  --background: #2196f3;
  --background-tab: #21572f;
}

main.ant-layout-content {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
}

.tabs-game {
  margin-top: 130px;
  /* padding: 10em 30em; */
}

.tabs-game .ant-tabs-tab{
  font-size: 20px;
  font-family: cursive;
  background: #21572f94 !important;
  color: #ffffff;
  /* color: #c7c7c7; */
}

.tabs-game .ant-tabs-content-holder{
  text-align: center;
}

.tabs-game div.ant-tabs-tab-active {
  background: #21572f !important;
}

.tabs-game .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  font-size: 20px;
  font-family: cursive;
  color: #ffffff;
}

.tabs-game .ant-tabs-tab-disabled {
  font-size: 20px;
  font-family: cursive;
  background: #838383c7 !important;
  color: #c7c7c7 !important;
}

.tabs-game .ant-btn {
  background: #21572f !important;
  width: 45px;
  height: 45px;
  margin: 5px;
}

.tabs-game .material-symbols-outlined {
  font-size: 35px;
}

h2.title{
  font-family: cursive;
  text-align: center;
  /* width: 100%; */
  margin: 0px auto;
  font-size: 80px;
  letter-spacing: 5px;
  top: 10%;
  position: absolute;
  margin-top: -40px;
  transition: 4s;
  color: var(--color);
  
  text-shadow: -1px -1px 0px var(--background),
    3px 3px 0px var(--background),
    6px 6px 0px #00000055;
}

.background-modal .ant-modal-content {
  background-color: #ffffff99;
  /* background-image: url('../images/sky.png'); */
}

/* background-color: #ffffffdb; */

.background-modal .ant-btn {
  background: var(--background-tab);
}

.game-over .ant-result-icon svg{
  color: red;
}

.game-over .ant-result-subtitle {
  margin-top: 30px;
}

.game-over .ant-btn{
  background: var(--background-tab);
  font-size: 20px;
  font-family: cursive;
  height: 40px;
}

.game-win .ant-result-icon svg{
  color: yellow;
}

.game-win .ant-result-subtitle {
  margin-top: 30px;
}

.game-win .ant-btn{
  background: var(--background-tab);
  font-size: 20px;
  font-family: cursive;
  height: 40px;
}

.ant-tour {
  width: auto !important;
}

.ant-tour .ant-btn{
  background: var(--background-tab);
  font-size: 15px;
  font-family: cursive;
  height: 30px;
}

.ant-tour .ant-tour-title{
  font-family: cursive;
  text-align: center;
  font-size: 30px !important;
  /* width: 100%; */
  /* 
  margin: 0px auto;
  letter-spacing: 5px;
  top: 10%;
  position: absolute;
  margin-top: -40px;
  transition: 4s;
  color: var(--color);
  
  text-shadow: -1px -1px 0px var(--background),
    3px 3px 0px var(--background),
    6px 6px 0px #00000055; */
}

/* .modal-background {
  background-color: #ffffffcc !important;
} */

/* .tabs-game .ant-tabs-tab-active{
  background: var(--background-tab);
}

.tabs-game .ant-tabs-tab-btn{
  color: var(--color);
} */

/*
h2.title{
  text-align: center;
  width: 100%;
  margin: 0px auto;
  font-size: 80px;
  letter-spacing: 5px;
  top: 10%;
  position: absolute;
  margin-top: -40px;
  transition: 4s;
  color: var(--color);
  
  text-shadow: -1px -1px 0px var(--background),
    3px 3px 0px var(--background),
    6px 6px 0px #00000055;
} */
/* 
.Game{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */